/* border style for grid */
div[class^="col"]{
    min-height: 50px;
    border: 1px solid black;
}

.row{
    border: 1px dashed green;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Playwrite IT Moderna", serif;
}

.fi-rr-arrow-right{
    font-size: 3em;
}

.fi-rr-share{
     font-size: 3em;
}

.fi-rr-language-exchange{
    font-size: 3em;
}

.fi-rr-calendar-clock{
    font-size: 3em;
}