/* border style for grid */
div[class^="col"]{
    min-height: 50px;
    border: 1px solid black;
}

.row{
    border: 1px dashed red;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Playwrite IT Moderna", serif;
}